@* views/neoData.scala.html *@
@import model._
@(neo: NearEarthObject)

<html>
<head>
    <title>NEO Data</title>
</head>
<body>
<h1>Near Earth Objects Data</h1>

<h2>Near Earth Object</h2>
<ul>
    <li>
        <h4>@neo.name (@neo.id)</h4>
        <p>Estimated Diameter (km): @neo.estimated_diameter.kilometers.estimated_diameter_min - @neo.estimated_diameter.kilometers.estimated_diameter_max</p>
        <p>Potentially Hazardous: @neo.is_potentially_hazardous_asteroid</p>
        <h5>Close Approach Data:</h5>
        <ul>
            @for(cad <- neo.close_approach_data) {
            <li>
                <p>Date: @cad.close_approach_date</p>
                <p>Relative Velocity (km/h): @cad.relative_velocity.kilometers_per_hour</p>
                <p>Miss Distance (km): @cad.miss_distance.kilometers</p>
            </li>
            }
        </ul>
    </li>
</ul>
</body>
</html>
